// Variables
// $sideColor: rgba(39, 122, 42,1);
$sideColor: rgba(255,255,255,1);
// $navBackgroundColor: rgba(153, 107, 38, 1);
$headerBackgroundColor: rgba(8, 103, 136, 1);
$navBackgroundColor: rgba(8, 103, 136, 1);
$logoFontFamily: 'Fontdiner Swanky', cursive;
$logoFontColor: rgba(255,241,208,1);
$logoFontSize: 2rem;
$winnerHiglightColor: rgba(95, 247, 42, 0.74);
$logoTagFontFamily: 'Georgia', serif;
$logoTagFontSize: 1rem;
$logoTagFontColor: rgba(235,235,235,.9);
$navFontFamily: 'Roboto Condensed', sans-serif;
$errorFontFamily: monospace;
$errorFontColor: rgb(255, 255, 255);
$errorFontSize: .75rem;
$bodyFontFamily: 'Roboto Condensed', sans-serif;
// $pageColor: rgba(245,245,245,1);
$pageColor: rgba(255,255,255,1);
$pageWidth: 768px;
$headerHeight: 85px;
$navHeight: 2rem;
$loginButtonColor: rgb(6, 174, 213);
$loginBoxColor: rgb(255,241,208);
$loginBorderColor: rgb(25,25,25);
$footerHeight: 75px;
$viewButtonColor: rgb(6, 174, 213);
$viewButtonColorHover: rgb(255,241,208);
$rollButtonColor: rgba(221,28,26,1);
$rollButtonColorHover: rgba(95, 247, 42, 0.5);;
$logOutButtonColor: rgb(6, 174, 213);

* {
  margin: 0;
  padding: 0;
}

body {
  background: $sideColor;
  font-family: $bodyFontFamily;
  font-size: 16px;
}

header {
  width: 100%;
  height: $headerHeight;
  padding: 10px;
  background-color: $headerBackgroundColor;
  font-family: $navFontFamily;
  li {
    display: inline;
    list-style-type: none;
    float: left;
    margin-left: 10px;
  }
  a {
    display: block;
  }

  .menu {
    display: block;
    float: right;
    margin: 20px 0 0 20px;
  }
}
#header-block {
  margin: 0 auto;
  text-align: left;
  width: 450px;
  height: $headerHeight;
}
#logo {
  h1 {
    font-family: $logoFontFamily;
    color: $logoFontColor;
    font-size: $logoFontSize;
  }
  p {
    font-family: $logoTagFontFamily;
    color: white;
    font-size: logoTagFontSize;
  }
  float: left;
}
#title {
  // width: $pageWidth;
  h1 {
    font-family: $logoFontFamily;
    color: $logoFontColor;
    font-size: $logoFontSize;
  }
  p {
    font-family: $logoTagFontFamily;
    color: $logoTagFontColor;
    font-size: logoTagFontSize;
  }
  float: left;
}
#login {
  margin: 25px auto;
  text-align: center;
  padding: 25px;
  height: 220px;
  width: 500px;
  background-color: $loginBoxColor;
  border: solid 2px $loginBorderColor;
  border-radius: 15px;
  button {
    width: 100px;
    height: 35px;
    font-size: 1.15rem;
    border-radius: 10px;
  }
}
.form-actions {
  margin-top: 20px;
}
.loginText {
  font-size: 1.5rem;
  width: 250px;
  height: 35px;
}
.error {
  color: $errorFontColor;
  font-size: $errorFontSize;
  font-family: $errorFontFamily;
}
#wrapper {
  clear: both;
  width: $pageWidth;
  margin: 0 auto;
  background: $pageColor;
}

nav {
  clear: both;
  margin: 0 auto;
  width: $pageWidth;
  height: $navHeight;
  margin-top: 5px;
  font-family: $navFontFamily;

  ul {
    li {
      display: inline;
    }
  }
}
.top-nav {
  margin: 0 auto;
}
.itemId {
  margin-top: 20px;
  text-align: center;
}
.breadcrumb {
  margin: 0 auto;
  text-align: center;
}
#labels {
  float: left;
  width: 100px;
  height: 100px;
  p {
    margin-bottom: .8rem;
    margin-right: 5px;
    float: right;
  }
}

footer {
  width: 100%;
  height: $footerHeight;
  margin: 25px auto;
  padding: 10px;
  background-color: $navBackgroundColor;
  font-family: $navFontFamily;
}
#view {
  width: 200px;
  height: 25px;
  background-color: $viewButtonColor;
  border-radius: 10px;
  border: none;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  td {
    border: 1px solid rgba(225,225,225,1);
    width: 10%;
    padding: 0 10px;
    text-align: center;
  }
  .string {
    width: 40%;
    text-align: left;
  }
  .amount {
    width: 15%;
    text-align: right;
  }
  .total {
    text-align: right;
  }
}
h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  .color {
    color: blue;
  }
}
.winner {
  background-color: $winnerHiglightColor;
}
#rollDisplay {
  margin-top: 10px;
  text-align: center;
  h2 {
    line-height: 3rem;
  }
  p {
    font-size: .8rem;
    margin-bottom: 15px;
  }
}
#rollButtons {
  width: $pageWidth;
  margin: 0 auto;
  min-height: 100px;
}
.roll {
  float: left;
  padding-top: 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 800;
  width: 40px;
  height: 32px;
  border: 2px solid $rollButtonColor;
  border-radius: 5px;
  font-size: 24px;
}
.highlight {
  background-color: $rollButtonColorHover;
}
#footer-box {
  margin: 0 auto;
  padding-top: 15px;
  width: $pageWidth;
  color: $logoTagFontColor;
  text-align: center;
}
.lucky {
  margin: 0 auto;
  text-align: center;
  button {
    width: 150px;
    height: 35px;
    background-color: $viewButtonColor;
  }
}
.index {
  text-align: center;
}
#logout {
  width: 75px;
  height: 30px;
  background-color: $logOutButtonColor;
}
