  <div ng-controller="LeagueCtrl">
    <nav class="breadcrumb">
      <a href="#/bowlers">Switch to Bowlers View</a>
      <ul>
        <li><a href="#/leagues">Leagues</a></li>
        <li><span>&nbsp;&#10148;&nbsp;</span></li>
        <li><a ng-href="#/leagues/{{leagueId}}">League</a></li>
      </ul>
    </nav>

    <h3 class="itemId">League ID: <span class="featured">{{ id }}</span>&nbsp;&nbsp;&nbsp;League Name: <span class="featured">{{ leagueName }}</span></h3>

    <h4>Bowlers</h4>

    <div class="loading" ng-show="dataLoading">LOADING<span>.</span><span>.</span><span>.</span></div>

    <table>
      <colgroup>
        <col class="index">
        <col class="index">
        <col class="string">
      </colgroup>
      <thead>
        <th>Buy</th>
        <th>ID</th>
        <th>Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="bowler in bowlers">
          <td>
            <div class="tab-button" ng-class="{pressedadd: hover}" ng-mouseenter="hover=true"
                  ng-mouseleave="hover=false" ng-click="buy(bowler.id)">Buy Ticket</div>
          </td>
          <td>{{bowler.id}}</td>
          <td>{{bowler.name}}</td>
        </tr>
        <tr>
          <td>
            <a ng-href="#/leagues/{{leagueId}}/addbowler2league">Add Bowler</div>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <h4 class="featured">{{message}}</h4>
    <h4>Lotteries</h4>

    <table>
      <thead>
        <th></th>
        <th>ID</th>
        <th>Payout</th>
        <th>Jackpot</th>
      </thead>
      <tbody>
        <tr ng-repeat="lottery in lotteries">
          <td><a ng-href="#/leagues/{{id}}/lotteries/{{lottery.id}}">View</a></td>
          <td>{{lottery.id}}</td>
          <td class="amount">{{lottery.payout | number: 2}}</td>
          <td class="amount">{{lottery.balance | number: 2}}</td>
        </tr>
        <tr>
          <td class="total" colspan="2">Total payout</td>
          <td class="amount">{{total | number: 2}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
