  <div ng-controller="WinnerCtrl">
    <nav class="breadcrumb">
      <a href="#/bowlers">Switch to Bowlers View</a>
      <ul>
        <li><a href="#/leagues">Leagues</a></li>
        <li><span>&nbsp;&#10148;&nbsp;</span></li>
        <li><a ng-href="#/leagues/{{leagueId}}">Lotteries</a></li>
        <li><span>&nbsp;&#10148;&nbsp;</span></li>
        <li><a ng-href="#/leagues/{{lotteryId}}">Lottery</a></li>
      </ul>
    </nav>
    <div ng-hide=showPayout id="rollDisplay">
      <h2>And the winner of the random drawing is... </h2>

      <div class="loading" ng-show="dataLoading">LOADING<span>.</span><span>.</span><span>.</span></div>

      <h2 class="winner">{{bowler_name}}</h2>
      <h2>Record the result of the lucky strike roll here</h2>
      <p>pins knocked down</p>
      <section id="rollButtons">
        <div class="roll" ng-class="{pressedRoll: hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click=roll($index) ng-repeat="a in range(10) track by $index">
          {{$index}}
        </div>
      </section>
    </div>
    <div ng-show=showPayout id="payout">
      <h2>The payout is <span class="color">{{payout}}</span></h2>
    </div>

  </div>
