  <div ng-controller="LotteryCtrl">
    <nav class="breadcrumb">
      <a href="#/bowlers">Switch to Bowlers View</a>
      <ul>
        <li><a href="#/leagues">Leagues</a></li>
        <li><span>&nbsp;&#10148;&nbsp;</span></li>
        <li><a ng-href="#/leagues/{{leagueId}}">League</a></li>
        <li><span>&nbsp;&#10148;&nbsp;</span></li>
        <li><a ng-href="#/leagues/{{leagueId}}/lotteries/{{lotteryId}}">Lottery</a></li>
      </ul>
    </nav>
    <h4>Tickets for Lottery <span class="featured">{{lotteryId}}</span></h4>

    <div class="loading" ng-show="dataLoading">LOADING<span>.</span><span>.</span><span>.</span></div>

    <table>
      <thead>
        <th class="index">Ticket #</th>
        <th class="index">Bowler ID</th>
        <th class="string">Bowler Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="ticket in tickets">
          <td ng-class="{winner: ticket.is_winner}" class="index">{{ticket.id}}</td>
          <td ng-class="{winner: ticket.is_winner}" class="index">{{ticket.bowler_id}}</td>
          <td ng-class="{winner: ticket.is_winner}" class="string">{{ticket.bowler_name}}</td>
        </tr>
      </tbody>
    </table>
    <h4>Tickets sold: <span class="featured">{{numTickets}}</span>&nbsp;&nbsp;&nbsp;
      Jackpot: <span class="featured">{{jackpot | currency}}</span></h4>
    <div class="lucky">
      <div ng-show="showPayout">Payout: <span class="featured">{{payout | currency}}</span></div>
      <div ng-hide="showPayout" ng-cloak class="select" ng-class="{pressedSelect: hover}"
       ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click=select()>{{buttonText}}</div>
    </div>

  </div>
