  <div ng-controller="LotteryCtrl">
    <nav class="breadcrumb">
      <a href="#/bowlers">Switch to Bowlers View</a>
      <ul>
        <li><a href="#/leagues">Leagues</a></li>
        <li><span>&nbsp;&#10148;&nbsp;</span></li>
        <li><a ng-href="#/leagues/{{leagueId}}">League</a></li>
        <li><span>&nbsp;&#10148;&nbsp;</span></li>
        <li><a ng-href="#/leagues/{{leagueId}}/lotteries/{{lotteryId}}">Lottery</a></li>
      </ul>
    </nav>
    <h4>Tickets for Lottery <span class="color">{{lotteryId}}</span></h4>
    <table>
      <thead>
        <th class="index">Ticket #</th>
        <th class="string">Bowler Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="ticket in tickets">
          <td ng-class="{winner: ticket.is_winner}" class="index">{{ticket.id}}</td>
          <td ng-class="{winner: ticket.is_winner}" class="string">{{ticket.bowler_name}}</td>
        </tr>
      </tbody>
    </table>
    <h4>Tickets sold: {{numTickets}}</h4>
    <div class="lucky">
      <div ng-show="payout">Won: {{payout | currency}}
      <button ng-hide="payout" ng-click="select()">Select Lucky Bowler</button>
    </div>

  </div>
